<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Checkout</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/homepage">Home</a></li>
                    <li>Checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="checkout-wrapper section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="checkout-steps-form-style-1">
                    <ul id="accordionExample">
                        <li>
                            <h6 class="title" style="color: #5830E0;">Your Personal Details</h6>
                            <section class="checkout-steps-form-content collapse show" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="single-form form-default">
                                            <label>Mailing Address</label>
                                            <div class="form-input form">
                                              <input type="text" [(ngModel)]="orderDetails.address" placeholder="1234 Main St, Apartment 4B" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12">
                                          <div class="single-form form-default">
                                            <label>City</label>
                                            <div class="form-input form">
                                              <input type="text" [(ngModel)]="orderDetails.city" placeholder="City" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12">
                                          <div class="single-form form-default">
                                            <label>Country</label>
                                            <div class="form-input form">
                                              <input type="text" [(ngModel)]="orderDetails.country" placeholder="Country" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12">
                                          <div class="single-form form-default">
                                            <label>Post Code</label>
                                            <div class="form-input form">
                                              <input type="text" [(ngModel)]="orderDetails.postalCode" placeholder="Post Code" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12">
                                          <div class="single-form form-default">
                                            <label>Phone Number</label>
                                            <div class="form-input form">
                                              <input type="text" [(ngModel)]="orderDetails.phoneNumber" placeholder="+387 (xx) xxx-xxxx" required>
                                            </div>
                                          </div>
                                        </div>
                                  
                                    <div class="col-md-12">
                                        <div class="single-checkbox checkbox-style-3">
                                            <input type="checkbox" id="checkbox-3">
                                            <label for="checkbox-3"><span></span></label>
                                            <p>Payment on Delivery</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form button"style="color: #5830E0;">
                                            <button class="btn"  (click)="placeOrder()" [disabled]="!orderDetails.address || !orderDetails.city || !orderDetails.country || !orderDetails.postalCode || !orderDetails.phoneNumber">Order Now</button>
                                        </div>
                                    </div>
                                    <div *ngIf="orderPlaced" class="alert-success">
                                        <strong>Success!</strong> Your order has been placed successfully.
                                    </div>
                                    <div *ngIf="noSelectedItemsError" class="alert alert-danger">
                                        <strong>Error!</strong> You must select at least one item to place the order.
                                    </div>
                                    <div *ngIf="quantityErrorMessage" class="alert alert-danger">
                                        <strong>Error!</strong> Not enough stock for one or more products.
                                      </div>
                                </div>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-sidebar">
                    <div class="checkout-sidebar-price-table">
                        <h6 class="title" style="color: #5830E0; font-weight: bold;font-size:20px">Pricing Table</h6>

                        <div class="sub-total-price" *ngFor="let item of cartItems">
                            <div class="total-price">
                            <p class="value" style=" font-size:18px; ">{{ item.brandName }} {{ item.quantity }}x</p>
                            
                            <span style="display: flex; align-items: center;">
                              <p class="price" style="margin-right: 10px;">{{ item.total }}$</p>
                              <button class="remove-btn" (click)="removeItemFromCheckout(item.productId)">
                                <i class="fa fa-times"></i>
                              </button>
                            </span>
                            
                            </div>
                          </div>
                            <div class="total-payable">
                              <div class="payable-price">
                                <p class="value" style=" font-size:15px">Subtotal Price:</p>
                                <p class="price">{{ totalAmount }}$</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
