<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Details</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/homepage">Home</a></li>
                    <li>Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <div class="deleted-product-overlay">
                                    <img src="assets/images/sample.jpg" alt="Product Name" id="current">
                                    <span class="deleted-label">Deleted</span>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                        <h2 class="title">Brand Name</h2>
                        <p class="location">
                            <a href="javascript:void(0)">Category Name</a>
                        </p>
                        <h3 class="price">$99.99</h3>
                        <div class="list-info">
                            <h4>Informations</h4>
                            <ul>
                                <li><span>Condition:</span> New</li>
                                <li><span>Model:</span> Model X</li>
                                <li><span>Date Published:</span> 2025-05-09</li>
                                <li><span>Gender:</span> Unisex</li>
                                <li><span>Color:</span> Black</li>
                                <li><span>Shipping Price:</span> $5.00</li>
                                <li><span>Items Sold:</span> 10</li>
                                <li><span>Available Items:</span> 20</li>
                            </ul>
                        </div>
                        <div class="quantity-info">
                            <h4>Quantity</h4>
                            <input 
                                type="number" 
                                id="quantity" 
                                min="1" 
                                value="1" />
                            <div class="error-message" style="color: #d9534f; display: none;">
                                <p>Please enter quantity of 1 or more...</p>
                            </div>
                        </div>
                        <div class="total-price">
                            <h4>Total Price</h4>
                            <p id="total-price">$99.99</p>
                        </div>

                        <div class="modal" style="display: none;">
                            <div class="modal-content">
                                <h4>Are you sure you want to delete this product?</h4>
                                <div>
                                    <button class="btn btn-danger">Yes, delete</button>
                                    <button class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>

                        <div class="add-to-cart d-flex align-items-center">
                            <a href="javascript:void(0)" id="add-to-cart" class="add-to-cart-btn">Add to Cart</a>
                            <a href="javascript:void(0)" id="buy-now" class="buy-now-btn">Buy Now</a>
                            <a href="/modify-product/123" id="add-to-cart" class="add-to-cart-btn"><i class="fa fa-pencil-alt"></i></a>
                            <a href="javascript:void(0)" id="buy-now" class="buy-now-btn"><i class="fa fa-trash"></i></a>
                            <a href="javascript:void(0)" id="restore-btn" class="buy-now-btn"><i class="fa fa-undo"></i></a>
                        </div>
                    </div>

                    <div class="alert-danger" style="display: none;">
                        You need to be logged in to add items to the cart or make a purchase.
                    </div>
                    <div class="alert-success" style="display: none;">
                        Product added to cart successfully!
                    </div>
                </div>
            </div>
        </div>

        <div class="item-details-blocks">
            <div class="row">
                <div class="col-lg-12 col-md-7 col-12">
                    <div class="single-block description">
                        <h3>Description</h3>
                        <p>This is a detailed description of the product that would normally be loaded dynamically.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
