    
    <div class="row g-3">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let product of products" >
        <div class="single-item-grid">
        <div class="image">
          <a href="/item/{{ product.productId }}" class="thumbnail">
            <img [src]="product.image" alt="{{ product.brandName }}">
          </a>
          
        </div>
        <div class="content">
          <div class="top-content">
            <h3 class="title">
              <a href="/item/{{ product.productId }}">{{ product.brandName }}</a>
            </h3>
            <p class="update-time">{{ product.description }}</p>
          </div>
          <div class="bottom-content">
            <p class="price"><span>$</span>{{ product.price }}</p>
            <div class="button-group">
              <a *ngIf="!isAdmin() && isLoggedIn()" href="/item/{{ product.productId }}" class="icon-link view-details-icon">
                <i class="lni lni-eye"></i>
              </a>
              <a *ngIf="!isAdmin() && isLoggedIn()" href="javascript:void(0)" class="icon-link add-to-cart-icon" (click)="addToCart(product)">
                <i class="lni lni-cart"></i>
              </a>
              <a *ngIf="!isAdmin() && isLoggedIn()" href="javascript:void(0)"  class="icon-link buy-now-icon" (click)="buyNow(product)">
                <i class="lni lni-credit-cards"></i>
              </a>
            </div>
          </div>
          
        </div>
        
      </div>
      <p *ngIf="addedProductId === product.productId" class="success-message">{{ successMessage }}</p>
    </div>
  
