<div class="row g-3">
    <div class="col-lg-4 col-md-6 col-12">
      <div class="single-item-grid">
        <div class="image">
          <a href="/item/123" class="thumbnail">
            <img src="https://assets2.sunglasshut.com/cdn-record-files-pi/c4b59353-ff03-4e6c-8102-af3200b31894/4a8db947-161f-44f2-8093-af3300712b21/0OO9280__928004__P21__shad__qt.png?impolicy=SGH_bgtransparent&width=2048" alt="Brand A">
          </a>
        </div>
        <div class="content">
          <div class="top-content">
            <h3 class="title">
              <a href="/item/123">Brand A</a>
            </h3>
            <p class="update-time">Sleek, stylish, and perfect for sunny days.</p>
          </div>
          <div class="bottom-content">
            <p class="price"><span>$</span>59.99</p>
            <div class="button-group">
              <a href="/item/123" class="icon-link view-details-icon">
                <i class="lni lni-eye"></i>
              </a>
              <a href="javascript:void(0)" class="icon-link add-to-cart-icon">
                <i class="lni lni-cart"></i>
              </a>
              <a href="javascript:void(0)" class="icon-link buy-now-icon">
                <i class="lni lni-credit-cards"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="success-message" style="display: none;">Product added to cart!</p>
    </div>
  
    <!-- Duplicate or update below for more products -->
  
    <div class="col-lg-4 col-md-6 col-12">
      <div class="single-item-grid">
        <div class="image">
          <a href="/item/456" class="thumbnail">
            <img src="https://assets2.sunglasshut.com/cdn-record-files-pi/7cdbbb2b-e569-4896-8b27-b26b016e897d/cf236ba1-a204-4870-8300-b26b017441e6/0OO9494__949403__P21__shad__qt.png?impolicy=SGH_bgtransparent&width=2048" alt="Brand B">
          </a>
        </div>
        <div class="content">
          <div class="top-content">
            <h3 class="title">
              <a href="/item/456">Brand B</a>
            </h3>
            <p class="update-time">Modern look with UV protection.</p>
          </div>
          <div class="bottom-content">
            <p class="price"><span>$</span>74.99</p>
            <div class="button-group">
              <a href="/item/456" class="icon-link view-details-icon">
                <i class="lni lni-eye"></i>
              </a>
              <a href="javascript:void(0)" class="icon-link add-to-cart-icon">
                <i class="lni lni-cart"></i>
              </a>
              <a href="javascript:void(0)" class="icon-link buy-now-icon">
                <i class="lni lni-credit-cards"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="success-message" style="display: none;">Product added to cart!</p>
    </div>
  
    <div class="col-lg-4 col-md-6 col-12">
      <div class="single-item-grid">
        <div class="image">
          <a href="/item/789" class="thumbnail">
            <img src="https://assets2.sunglasshut.com/cdn-record-files-pi/1edb8ba0-4472-4093-9f3c-ac6f011ef90b/24f5bc0e-5fff-4977-99c3-acb6006ef7e1/0OO9014__901494__STD__shad__qt.png?impolicy=SGH_bgtransparent&width=2048" alt="Brand C">
          </a>
        </div>
        <div class="content">
          <div class="top-content">
            <h3 class="title">
              <a href="/item/789">Brand C</a>
            </h3>
            <p class="update-time">Classic design with durable build.</p>
          </div>
          <div class="bottom-content">
            <p class="price"><span>$</span>89.00</p>
            <div class="button-group">
              <a href="/item/789" class="icon-link view-details-icon">
                <i class="lni lni-eye"></i>
              </a>
              <a href="javascript:void(0)" class="icon-link add-to-cart-icon">
                <i class="lni lni-cart"></i>
              </a>
              <a href="javascript:void(0)" class="icon-link buy-now-icon">
                <i class="lni lni-credit-cards"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="success-message" style="display: none;">Product added to cart!</p>
    </div>
  </div>
  