<div class="search-form wow fadeInUp" data-wow-delay=".7s">
  <div class="row">
    <div class="col-md-4 col-10 p-0 mx-auto">
      <div class="search-input">
        <label for="keyword"><i class="lni lni-search-alt"></i></label>
        <input type="text" name="keyword" id="keyword" [(ngModel)]="keyword" placeholder="Search for items..." />
      </div>
    </div>
    <div class="col-md-4 col-10 p-0 mx-auto">
      <div class="search-input">
        <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
        <select name="category" id="category" [(ngModel)]="category">
          <option value="null" selected  >All Categories</option>
          <option value="false">Men's Sunglasses</option>
          <option value="true">Women's Sunglasses</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 col-10 p-0 mx-auto">
      <div class="search-btn button">
        <button class="btn" (click)="onSearch()"><i class="lni lni-search-alt"></i> Search</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="noProductsFound" class="no-products-message">
  <p>{{ errorMessage }}</p>
</div>