<div class="row g-3">
    <div class="col-lg-4 col-md-6 col-12">
      <div class="single-item-grid">
        <div class="image">
          <a href="/item">
            <img src="assets/images/placeholder.jpg" alt="Product Image">
          </a>
        </div>
        <div class="content">
          <h3 class="title">
            <a href="/item">Product Name</a>
          </h3>
  
          <div class="product-category">
            <span class="category-label">Category</span>
          </div>
  
          <ul class="info">
            <li class="price">$0.00</li>
            <div class="button-group">
              <a href="/item" class="icon-link view-details-icon">
                <i class="lni lni-eye"></i>
              </a>
              <a href="/cart" class="icon-link add-to-cart-icon">
                <i class="lni lni-cart"></i>
              </a>
              <a href="/checkout" class="icon-link buy-now-icon">
                <i class="lni lni-credit-cards"></i>
              </a>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  