<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Purchase history</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/homepage">Home</a></li>
                    <li>Purchase history</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Dashboard Section -->
<section class="dashboard section">
    <div class="container">
        <div class="row  justify-content-center align-items-center">
            <div class="col-lg-9 col-md-12 col-12">
                <div class="main-content">
                    <div class="dashboard-block mt-0">
                        <h3 class="block-title">Purchase history</h3>
                        <!-- Start Invoice Items Area -->
                        <div class="invoice-items default-list-style">
                            <!-- Start List Title -->
                            <div class="default-list-title">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <p>Product</p>
                                    </div>
                                    <div class="col-lg-3 col-md-2 col-12">
                                        <p>Invoice date</p>
                                    </div>
                                    <div class="col-lg-3 col-md-2 col-12">
                                        <p>Time</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>Subtotal</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End List Title -->

                            <!-- Start Purchase History Loop -->
                            <div *ngFor="let order of purchaseHistory">
                                <div class="single-list" *ngFor="let detail of order.orderDetails">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <p>{{ detail.brandName }}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-12">
                                            <p>{{ order.orderDate }}</p>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-12">
                                            <p>{{ order.orderTime }}</p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-12">
                                            <p>{{ detail.subtotal }}$</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Purchase History Loop -->
                        </div>
                        <!-- End Invoice Items Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Dashboard Section -->